<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.MyProject.mapper.UserMapper">
    <select id="findByUsername" resultType="com.example.MyProject.entity.User">
        SELECT id, username, password, email, phone, status, createTime, updateTime
        FROM users
        WHERE username = #{username}
        LIMIT 1
    </select>
</mapper>